/* 
Project Name   : Todo List
Project Author : Dilara Şeker
Project Date   : 04.11.2023
Project Version:V1.0.0
*/

/* ************************************************************************************** */

/* Common Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

:root {
    --template_bg_color: #ffffff;
    --template_color: #000000;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--template_bg_color);
    color: var(--template_color);
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.app {
    margin: auto;
    width: 50%;
    text-align: center;
}

/* ************************************************************************************************************************************ */

/* INPUT Part */

/* Input Container (Input + Add Button) */
.input_container {
    border-style: ridge;

    margin-top: 0rem;
    padding: 1.5rem;
    position: relative;

}

/* Input Row */
.input_row {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* Input */
.input {
    border-radius: 5px;
    font-size: 1rem;
    height: 2rem;
    width: 100%;
}

/* Input Hover */
.input:hover {
    cursor: pointer;
}

/* Input Text */
input[type="text"] {
    padding-left: 40px;
}

/* Input Icon */
.input-icon {
    background-color: #4FA0B5;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;
    font-size: 1rem;
    height: 2rem;
    padding: 0.3rem;
    position: absolute;
    width: 2rem;
}

/* Add Row */
.add_row {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Add Button */
.add-btn {
    background-color: #4FA0B5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 0.9rem;
    padding: 0.3rem;
    width: 100%;
}

/* Add Button Hover*/
.add-btn:hover {
    background-color: #4FA0B5;
    color: white;
    cursor: pointer;
}


