/* 
Project Name   : Todo List
Project Author : Dilara Şeker
Project Date   : 04.11.2023
Project Version:V1.0.0
*/

/* ************************************************************************************** */

/* Common Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

:root {
    --template_bg_color: #ffffff;
    --template_color: #000000;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--template_bg_color);
    color: var(--template_color);
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.app {
    margin: auto;
    width: 50%;
    text-align: center;
}

/* ************************************************************************************************************************************ */

/* INPUT Part */

/* Input Container (Input + Add Button) */
.input_container {
    border-style: ridge;

    margin-top: 0rem;
    padding: 1.5rem;
    position: relative;

}

/* Input Row */
.input_row {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* Input */
.input {
    border-radius: 5px;
    font-size: 1rem;
    height: 2rem;
    width: 100%;
}

/* Input Hover */
.input:hover {
    cursor: pointer;
}

/* Input Text */
input[type="text"] {
    padding-left: 40px;
}

/* Input Icon */
.input-icon {
    background-color: #4FA0B5;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;
    font-size: 1rem;
    height: 2rem;
    padding: 0.3rem;
    position: absolute;
    width: 2rem;
}

/* Add Row */
.add_row {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Add Button */
.add-btn {
    background-color: #4FA0B5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 0.9rem;
    padding: 0.3rem;
    width: 100%;
}

/* Add Button Hover*/
.add-btn:hover {
    background-color: #4FA0B5;
    color: white;
    cursor: pointer;
}

/* ************************************************************************************** */

/* List Part */

/* List Container Bottom Container */
.list_container {
    margin-top: 0rem;
    position: relative;
}

/* List Buttons Row */
.btns-row {
    display: flex;
    flex-direction: row;
    height: 2rem;
    justify-content: space-between;
}

/* List Buttons */
.list-btns {
    background-color: #4FA0B5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    height: 2rem;
    width: 31%;
}

/* List Buttons Hover */
.list-btns:hover {
    background-color: #4FA0B5;
    color: white;
    cursor: pointer;
}

/* List */
.list {
    border: none;
}

/* List Item */
.list-item {
    border: ridge;
    font-size: 1rem;
    height: 3rem;
    padding-top: 0.6rem;
    width: 100%;
}

/* Space between Todo Items */
.bosluk {
    height: 1rem;
}

/* Task */
.todo {
    float: left;
    font-size: 0.9rem;
    height: 2rem;
    margin-left: 0.7rem;
    overflow: auto;
    text-align: left;
    width: 75%;
}

/* List Item Icon Container */
.list-icons {
    float: right;
    margin-right: 0.7rem;
}

/* List Pen Icon */
.list-pen-icon {
    color: #F5BF4E;
    font-size: 1rem;
    margin-right: 1rem;
    width: 2rem;
}

/* List Trash Icon */
.list-trash-icon {
    color: #C4454D;
    font-size: 1rem;
    width: 2rem;
}

/* Checkbox */
.custom-checkbox {
    display: inline;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
}

/* Hide the default checkbox input */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Custom checkbox appearance */
.custom-checkbox .checkmark {
    /* Background color when unchecked */
    background-color: white;
    /* Green border color */
    border: 2px solid #4a7b49;
    border-radius: 2px;
    /* Size of the custom checkbox */
    height: 0.97rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.97rem;
}

/* Style for the FontAwesome icon checkbox */
.custom-checkbox .checkmark .fa-check {
    /* Green color for the checked icon */
    color: #4a7b49;
    display: block;
    /* Height  of the check mark icon */
    height: 0.9rem;
    /* Center the icon horizontally */
    text-align: center;
    margin-top: -0.1rem;
    /* Width  of the check mark icon */
    width: 0.7rem;
}

/* Hide the FontAwesome icon checkbox by default */
.custom-checkbox input[type="checkbox"]:checked+.checkmark .fa-icon {
    display: none;
}

/* Create a custom checkbox container */
/* .custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 15px; 
  }
   */
/* Style the custom checkbox */
/* .custom-checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 2.6px solid #4A7B49; /* Change the border color here */
/* background-color: #fff; /* Background color for the checkbox */
/* cursor: pointer;
    font-weight: 900; 
  } */

/* Style the checkbox container when checked */
/* input[type="checkbox"]:checked + .custom-checkbox::before {
    content: '\2713'; /* Checkmark symbol (✓) or any other symbol you prefer */
/* color: #4A7B49; /* Color of the checkmark symbol when checked */
/* Checkbox rengi beyaz, border ve işaret rengi yeşil */
/* Checkbox rengi beyaz, border ve işaret rengi yeşil */
/* Checkbox rengi beyaz, border ve işaret rengi yeşil */
/* Checkbox styling */
/* Checkbox styling */